Repository Malinskiy/marathon, changes with the labels that .github/labeler.yml gives for each.
All labels: analytics, core, cli, report, vendor, ios, android, gradle-plugin, sample, build, git, travis, workflow, ide

.github/labeler.yml:

analytics: analytics/**/*
core: core/**/*
cli: cli/**/*
report: report/**/*
vendor: vendor/**/*
ios: vendor/vendor-ios/**/*
android: vendor/vendor-android/**/*
gradle-plugin: marathon-gradle-plugin/**/*
sample: sample/**/*
build:
  - '**/*.build.gradle'
  - buildSrc/**/*
  - default-detekt-config.yml
  - .buildsystem/**/*
git:
  - .gitignore
  - CODEOWNERS
travis:
  - .travis.yml
workflow:
  - .github/**/*
ide:
  - .idea/**/*

Support StrictMode type changes
  vendor/vendor-android/base/src/test/kotlin/com/malinskiy/marathon/android/adam/TestConfigurationFactory.kt
Labels: vendor, android

Add strict_mode compatibility with old values
  cli/src/main/kotlin/com/malinskiy/marathon/cli/config/deserialize/StrictModeDeserializer.kt
  cli/src/test/resources/fixture/config/sample_1_rp.yaml
  core/src/main/kotlin/com/malinskiy/marathon/execution/queue/TestResultReporter.kt
Labels: core, cli

Add StrictMode.kt ANY_FAIL After first test failure run will end
  cli/src/main/kotlin/com/malinskiy/marathon/cli/ApplicationView.kt
  cli/src/main/kotlin/com/malinskiy/marathon/cli/args/FileConfiguration.kt
  cli/src/main/kotlin/com/malinskiy/marathon/cli/config/DeserializeModule.kt
  cli/src/main/kotlin/com/malinskiy/marathon/cli/config/deserialize/StrictModeDeserializer.kt
  cli/src/test/kotlin/com/malinskiy/marathon/cli/config/ConfigFactoryTest.kt
  cli/src/test/resources/fixture/config/sample_1.yaml
  cli/src/test/resources/fixture/config/sample_1_rp.yaml
  core/src/main/kotlin/com/malinskiy/marathon/execution/Configuration.kt
  core/src/main/kotlin/com/malinskiy/marathon/execution/TestBatchResults.kt
  core/src/main/kotlin/com/malinskiy/marathon/execution/progress/tracker/PoolProgressTracker.kt
  core/src/main/kotlin/com/malinskiy/marathon/execution/queue/QueueActor.kt
  core/src/main/kotlin/com/malinskiy/marathon/execution/queue/TestResultReporter.kt
  core/src/main/kotlin/com/malinskiy/marathon/execution/strategy/StrictMode.kt
  core/src/test/kotlin/com/malinskiy/marathon/execution/progress/tracker/PoolProgressTrackerTest.kt
  core/src/test/kotlin/com/malinskiy/marathon/execution/queue/QueueActorTest.kt
  core/src/test/kotlin/com/malinskiy/marathon/execution/queue/TestResultReporterTest.kt
  marathon-gradle-plugin/src/main/kotlin/com/malinskiy/marathon/MarathonExtension.kt
  vendor/vendor-android/adam/src/main/kotlin/com/malinskiy/marathon/android/adam/AndroidDeviceTestRunner.kt
  vendor/vendor-android/base/src/main/kotlin/com/malinskiy/marathon/android/executor/listeners/AbstractTestRunResultListener.kt
  vendor/vendor-android/base/src/main/kotlin/com/malinskiy/marathon/android/executor/listeners/CompositeTestRunListener.kt
  vendor/vendor-android/base/src/main/kotlin/com/malinskiy/marathon/android/executor/listeners/DebugTestRunListener.kt
  vendor/vendor-android/base/src/main/kotlin/com/malinskiy/marathon/android/executor/listeners/NoOpTestRunListener.kt
  vendor/vendor-android/base/src/main/kotlin/com/malinskiy/marathon/android/executor/listeners/TestRunResultsListener.kt
  vendor/vendor-ios/src/main/kotlin/com/malinskiy/marathon/ios/logparser/listener/ProgressReportingListener.kt
  vendor/vendor-test/src/main/kotlin/com/malinskiy/marathon/test/StubDevice.kt
  vendor/vendor-test/src/main/kotlin/com/malinskiy/marathon/test/factory/ConfigurationFactory.kt
Labels: core, cli, vendor, ios, android, gradle-plugin

Fix rebase issue
  vendor/vendor-android/base/src/main/kotlin/com/malinskiy/marathon/android/executor/listeners/AbstractTestRunResultListener.kt
Labels: vendor, android

Delete `runConfigurations` from gitignore
  .gitignore
Labels: git

Update strict_mode parsing error message
  cli/src/main/kotlin/com/malinskiy/marathon/cli/config/deserialize/StrictModeDeserializer.kt
Labels: cli

Delete STOPPED_FAIL_FAST
  core/src/main/kotlin/com/malinskiy/marathon/execution/TestBatchResults.kt
  vendor/vendor-android/adam/src/main/kotlin/com/malinskiy/marathon/android/adam/AndroidDeviceTestRunner.kt
  vendor/vendor-android/base/src/main/kotlin/com/malinskiy/marathon/android/executor/listeners/AbstractTestRunResultListener.kt
  vendor/vendor-android/base/src/main/kotlin/com/malinskiy/marathon/android/executor/listeners/AndroidTestRunListener.kt
  vendor/vendor-android/base/src/main/kotlin/com/malinskiy/marathon/android/executor/listeners/CompositeTestRunListener.kt
  vendor/vendor-android/base/src/main/kotlin/com/malinskiy/marathon/android/executor/listeners/DebugTestRunListener.kt
  vendor/vendor-android/base/src/main/kotlin/com/malinskiy/marathon/android/executor/listeners/NoOpTestRunListener.kt
Labels: core, vendor, android

Add ExecutionStrategy.kt
  cli/src/main/kotlin/com/malinskiy/marathon/cli/args/FileConfiguration.kt
  cli/src/main/kotlin/com/malinskiy/marathon/cli/config/ConfigFactory.kt
  cli/src/main/kotlin/com/malinskiy/marathon/cli/config/DeserializeModule.kt
  cli/src/main/kotlin/com/malinskiy/marathon/cli/config/deserialize/ExecutionStrategyDeserializer.kt
  cli/src/main/kotlin/com/malinskiy/marathon/cli/config/deserialize/StrictModeDeserializer.kt
  cli/src/test/kotlin/com/malinskiy/marathon/cli/config/ConfigFactoryTest.kt
  cli/src/test/resources/fixture/config/sample_1.yaml
  core/src/main/kotlin/com/malinskiy/marathon/execution/Configuration.kt
  core/src/main/kotlin/com/malinskiy/marathon/execution/progress/tracker/PoolProgressTracker.kt
  core/src/main/kotlin/com/malinskiy/marathon/execution/queue/TestResultReporter.kt
  core/src/main/kotlin/com/malinskiy/marathon/execution/strategy/ExecutionStrategy.kt
  core/src/test/kotlin/com/malinskiy/marathon/analytics/metrics/MetricsProviderFactoryTest.kt
  core/src/test/kotlin/com/malinskiy/marathon/execution/progress/ProgressReporterTest.kt
  core/src/test/kotlin/com/malinskiy/marathon/execution/progress/tracker/PoolProgressTrackerTest.kt
  core/src/test/kotlin/com/malinskiy/marathon/execution/queue/QueueActorTest.kt
  core/src/test/kotlin/com/malinskiy/marathon/execution/queue/TestResultReporterTest.kt
  core/src/test/kotlin/com/malinskiy/marathon/report/ExecutionReportTest.kt
  core/src/test/kotlin/com/malinskiy/marathon/report/JUnitReporterTest.kt
  marathon-gradle-plugin/src/main/kotlin/com/malinskiy/marathon/MarathonExtension.kt
  marathon-gradle-plugin/src/main/kotlin/com/malinskiy/marathon/MarathonPlugin.kt
  marathon-gradle-plugin/src/main/kotlin/com/malinskiy/marathon/MarathonRunTask.kt
  vendor/vendor-android/adam/src/main/kotlin/com/malinskiy/marathon/android/adam/AndroidDeviceTestRunner.kt
  vendor/vendor-android/base/src/test/kotlin/com/malinskiy/marathon/android/AndroidTestParserTest.kt
  vendor/vendor-android/base/src/test/kotlin/com/malinskiy/marathon/android/adam/TestConfigurationFactory.kt
  vendor/vendor-android/ddmlib/src/test/kotlin/com/malinskiy/marathon/android/AndroidDeviceProviderTest.kt
  vendor/vendor-android/ddmlib/src/test/kotlin/com/malinskiy/marathon/android/AndroidDeviceTestRunnerTest.kt
  vendor/vendor-ios/src/test/kotlin/com/malinskiy/marathon/ios/DerivedDataManagerTest.kt
  vendor/vendor-ios/src/test/kotlin/com/malinskiy/marathon/ios/IOSDeviceProviderTest.kt
  vendor/vendor-ios/src/test/kotlin/com/malinskiy/marathon/ios/IOSTestParserTest.kt
  vendor/vendor-test/src/main/kotlin/com/malinskiy/marathon/test/factory/ConfigurationFactory.kt
Labels: core, cli, vendor, ios, android, gradle-plugin
